*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 100%;
    width: 100%;
    overflow-x: hidden;
}
a, a:visited{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}
section, header, footer, div, aside, nav, article, figure, main{
    display: flex;
    flex-wrap: wrap;
}
